# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Excel output files
*.xlsx

# Selenium / temp
*.tmp

# dotenv
.env